$color-primary: #9356DC;
$color-secondary: #FF79DA ;
$color-tertiary: #99E2D0;
$screen-sm-min: 375px;

@mixin sm {
    @media (min-width: #{$screen-sm-min}){
        @content;
    }
}

@include sm {

body {
    margin: 0;
    font-family:'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    }
.header-menu{
    display:flex;
    a{
        display: flex;
        text-decoration: none;
        align-self: center;
        position: relative;
        right: 25%;
        font-size: x-large;
        color: black;
    }
    img{
        display: flex;
    }
}
form{    
    background: lightgrey;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 10px;
}
input{
    background: unset;
    border: none;
    font-size: inherit;
    padding-left: 5%;
}
.reservation{
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    padding: 5%;
    text-align: center;
    h1,p{
        display: flex;
        justify-content: center;
    }
}
button{
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    border-radius: 25px;
    box-shadow: 1px 1px 2px 2px lightgray;
    width: 50%;
    height: 4em;
    position: relative;
    left: 25%;
    border: none;
}
.fonctionnement{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        display: flex;
        align-self: flex-start; 
        margin-left: 25px
    }
    &-etape{
    display: flex;
    flex-direction: column;
    width: 100%;
        &__choix{
            text-decoration: none;
            color: black;
            border-radius: 17px;
            box-shadow: 1px 1px 2px 2px lightgrey;
            border: none;
            margin-bottom: 10%;
            background: whitesmoke;
            padding: 20px;
            margin-left: 25px;
            margin-right: 25px;
        }
    }
}
.choix{
        &_numero{
            border-radius: 25px; 
            background: $color-primary; 
            padding: 2px 8px;
            color: white;
            position: relative;
            right: 24px;
            bottom: -1px;
        }
        &_icon{
            color: gray;
        }
        &_titre{
            left: 20px;
            position: relative;
        }
}

.restaurants{
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    padding-bottom: 10%;
    h1{
    margin-left: 15px;
    }
    &-nom{
        color: black;
        text-decoration: none;
        border-radius: 25px;
        margin-top: 30px;
        box-shadow: 0 0 6px 3px #b1b1b14b;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 247px;
        margin-left: 25px;
        margin-right: 25px;
        position:relative;
        img{
            height: 66%;
            width: 100%;
            margin-right: 11px;
            object-fit: cover;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            background-color: #fff;
        }
        &_contain{
            display:flex;
            justify-content: space-between;
            &__titre{
                display:flex;
                flex-direction: column;
                p{
                    margin: -8px 0px -18px 15px;
                    font-size: larger;
                    color: grey;
                }
                h2{
                    margin-left: 15px;
                }
                span{
                    background: #99E2D0;
                    color: seagreen;
                    padding: 6px;
                    position:absolute;
                    right:16px;
                    top:16px;
                }
            }
            &__coeur{
                display:flex;
                font-size: xx-large;
                align-items: center;
                padding-right: 15px;
            }
        }
    }
}     
.main{position: relative;
    img{
        object-fit: cover;
        width: 100%;
    }
    .menu{
        display: flex;
        flex-direction: column;
        background: whitesmoke;
        padding-bottom: 10%;
        border-top-left-radius: 3em;
        border-top-right-radius: 3em;
        position: relative;
        bottom: 3em;
        &-titre{
            display: flex;
            justify-content: space-between;
        }
        h1{
        margin-left: 30px;
        font-family: 'Shrikhand';
        font-size: x-large;
        }
        span{
            display:flex;
            font-size: x-large;
            align-items: center;
            margin-right: 30px;
        }
        &-type{
            margin-left: 25px;
            margin-right: 25px;
            h2{
                margin-left: 15px;
            }
            &__repas{
                border-radius: 17px;
                box-shadow: 1px 1px 2px 2px lightgrey;
                border: none;
                margin-bottom: 10%;
                background: white;
                padding: 5px 13px;
                display: flex;
                justify-content: space-between;
                &_contain{
                    display: flex;
                    flex-direction: column;
                    span{
                        font-size: medium;
                    }
                    p{
                        font-size: small;
                    }
                }
                &_prix{
                    display: flex;
                    align-items: flex-end;
                }
            }
        }

    }
}
.footer{
    display: flex;
    flex-direction: column;
    background: dimgray;
    h2{
        color: white;
        margin-left: 25px;
        font-family: 'Shrikhand';
    }
    &-contact{
        color: #ffff;
        text-decoration: none;
        margin-left: 25px;
        display: flex;
        align-items: baseline;
        p{
            margin-left: 10px;
        }
    }
}
}