$color-primary: #9356DC;
$color-secondary: #FF79DA ;
$color-tertiary: #99E2D0;

body {
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    }
form{    
    background: lightgrey;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 10px;
}
input{
    background: unset;
    border: none;
    font-size: inherit;
    padding-left: 5%;
}
.reservation{
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    padding-bottom: 10%;
    h1,p{
        display: flex;
        justify-content: center;
    }
}
button{
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    border-radius: 25px;
    box-shadow: 1px 1px 2px 2px lightgray;
    width: 25%;
    height: 4em;
    position: relative;
    left: 38%;
    border: none;
}
.fonctionnement{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Shrikhand', cursive;
    &-etape{
    display: flex;
    flex-direction: column;
    width: 100%;
        &__choix{
            text-decoration: none;
            color: black;
            border-radius: 17px;
            box-shadow: 1px 1px 2px 2px lightgrey;
            border: none;
            margin-bottom: 10%;
            background: whitesmoke;
            padding: 20px;
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}
.choix{
        &_numero{
            border-radius: 25px; 
            background: $color-primary; 
            padding: 7px 8px 5px 5px;
            position: relative;
            right: 24px;
            bottom: -1px;
        }
        &_icon{
            color: gray;
        }
        &_titre{
            left: 20px;
            position: relative;
        }
}

#restaurants{
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    padding-bottom: 10%;
    h1{
    margin-left: 15px;
    }
    &-nom1{
        color: black;
        text-decoration: none;
        border-radius: 25px;
        margin-top: 30px;
        box-shadow: 0 0 6px 3px #b1b1b14b;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 93%;
        margin-left: 15px;
        margin-right: 15px;
        position:relative;
        img{
            height: 85%;
            width: 100%;
            margin-right: 11px;
            object-fit: cover;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            background-color: #fff;
        }
        p{
            margin: -8px 0px -18px 15px;
            font-size: x-large;
            color: grey;
        }
        span{
            position: relative;
            left: 19em;
            bottom: 1.7em;
            font-size: xx-large;
        }
        h2{
            margin-left: 15px;
        }
        h3{
            background: #99E2D0;
            color: seagreen;
            padding: 4px 12px;
            position:absolute;
            right:10px;
            top:10px;
        }
    }
    &-nom2{
        color: black;
        text-decoration: none;
        border-radius: 25px;
        margin-top: 30px;
        box-shadow: 0 0 6px 3px #b1b1b14b;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 93%;
        margin-left: 15px;
        margin-right: 15px;
        position:relative;
        img{
            height: 85%;
            width: 100%;
            margin-right: 11px;
            object-fit: cover;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            background-color: #fff;
        }
        p{
            margin: -8px 0px -18px 15px;
            font-size: x-large;
            color: grey;
        }
        span{
            position: relative;
            left: 19em;
            bottom: 1.7em;
            font-size: xx-large;
        }
        h2{
            margin-left: 15px;
        }
        h3{
            background: #99E2D0;
            color: seagreen;
            padding: 4px 12px;
            position:absolute;
            right:10px;
            top:10px;
        }
    }
    &-nom3{
        color: black;
        text-decoration: none;
        border-radius: 25px;
        margin-top: 30px;
        box-shadow: 0 0 6px 3px #b1b1b14b;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 93%;
        margin-left: 15px;
        margin-right: 15px;
        img{
            height: 85%;
            width: 100%;
            margin-right: 11px;
            object-fit: cover;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            background-color: #fff;
        }
        p{
            margin: -8px 0px -18px 15px;
            font-size: x-large;
            color: grey;
        }
        span{
            position: relative;
            left: 19em;
            bottom: 1.7em;
            font-size: xx-large;
        }
        h2{
            margin-left: 15px;
        }
    }
    &-nom4{
        color: black;
        text-decoration: none;
        border-radius: 25px;
        margin-top: 30px;
        box-shadow: 0 0 6px 3px #b1b1b14b;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 93%;
        margin-left: 15px;
        margin-right: 15px;
        img{
            height: 85%;
            width: 100%;
            margin-right: 11px;
            object-fit: cover;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            background-color: #fff;
        }
        p{
            margin: -8px 0px -18px 15px;
            font-size: x-large;
            color: grey;
        }
        span{
            position: relative;
            left: 19em;
            bottom: 1.7em;
            font-size: xx-large;
        }
        h2{
            margin-left: 15px;
        }
    }
}
.main{position: relative;
    img{
        object-fit: cover;
        width: 100%;
    }
    .menu{
        display: flex;
        flex-direction: column;
        background: whitesmoke;
        padding-bottom: 10%;
        border-top-left-radius: 5em;
        border-top-right-radius: 5em;
        position: relative;
        bottom: 9em;
        h1{
        margin-left: 30px;
        }
        &-type{
            margin-left: 15px;
            margin-right: 15px;
            h2{
                margin-left: 15px;
            }
            &__repas{
                border-radius: 17px;
                box-shadow: 1px 1px 2px 2px lightgrey;
                border: none;
                margin-bottom: 10%;
                background: white;
                padding: 20px;
                margin-left: 15px;
                margin-right: 15px
            }
        }

    }
}
.footer{
    display: flex;
    flex-direction: column;
    background: dimgray;
    h2{
        color: white;
        margin-left: 15px;
    }
    &-contact{
        color: #ffff;
        text-decoration: none;
        margin-left: 15px;
        display: flex;
        align-items: baseline;
        p{
            margin-left: 10px;
        }
    }
}
