$color-primary: #9356DC;
$color-secondary: #FF79DA ;
$color-tertiary: #99E2D0;

body {
    margin: 0;}

header{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    }
form{    
    background: lightgrey;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 10px;
}
input{
    background: unset;
    border: none;
    font-size: inherit;
}
.reservation{
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    padding-bottom: 10%;
    h1{
    display: flex;
    justify-content: center;
    }
    p{
    display: flex;
    justify-content: center;
    }
}
button{
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    border-radius: 25px;
    box-shadow: 1px 1px 2px 2px lightgray;
    width: 25%;
    height: 4em;
    position: relative;
    left: 38%;
    border: none;
}